/* Mobile Version */
@media screen and (max-width:600px)
{
    .addUser
    {
        display: flex;
        flex-direction: column;
        width:15rem !important;
        height: fit-content;
        padding:3rem 0rem;
        margin:3rem auto;
    }
    .inputfield1
    {
        margin-left: -1rem !important;
    }
    .mobile-num-container
    {
        width:4rem;
         margin-left:-1rem !important;
    }
    .mobileinputfield
    {
        margin-left: -1rem !important;
        width:8rem !important;
    }

    .col1,.col2
    {
        width:22rem;
        margin-left: 1rem;
    }
    .inputfield-checkbox-container
    {
        display: flex;
        flex-direction: column;
        /* gap:1rem; */
    }
    .inputfield-checkbox-container label
    {
        width:12rem;
    }

    label
    {
        width:8rem;
    }
    legend
    {
        text-align: center;
    }
    .input-date-field
    {
        margin-left:-5rem !important;
        width:12.5rem;
    }
    .emailinputfield
    {
        margin-left: -3rem !important;
    }
    .FT-button
    {
    width:4rem !important;
    }
    .PT-button
    {
    width:3.25rem !important;
    }

    #addprogress
    {
        margin-left:10rem !important;
        margin-top:22rem !important;
    }

    #table
    {
        display: none;
    }
    .tab
    {
        display: block;
        margin-top:8rem;
    }
    .tab-content
    {
        display: flex;
        gap:1rem
    }
    .tab-feature
    {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .features
    {
        margin-left: auto;
        margin-right:1rem;
    }
    .update-button
    {
        width: 8rem !important;
        margin-left:12rem !important;
        margin-top:-4rem !important;
    }
    .cancel-button
    {
        width: 8rem !important;
        margin-top:2rem !important;
        margin-left: 1rem  !important;
    }
    .del-button
    {
        margin-left: 1rem !important;
    }
    .tab-content  span
    {
        width: 5rem;
        color: black;
        font-weight: 500;
    }
    .tab-item
    {
        display: flex;
        flex-direction: column;
        /* gap:1rem; */
    }
    #tab-progress
    {
        margin-top: 5rem;
        position: absolute;
    }

    .tab-pic
    {
        width: 6rem;
        height: 6rem;
    }
   
}